div.Projects.page {
    display: block;
    position: relative;
    padding: 200px 0 70px 0;
    .container {
        .content {
            margin: 0 0 60px 0;
        }
        .project-grid {
            position: relative;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 30px;
        }
    }
    @media screen and (max-width: 990px) {
        .container {
            .project-grid {
                grid-template-columns: 1fr 1fr;
            }
        }
    }
    @media screen and (max-width: 768px) {
        .container {
            .project-grid {
                padding: 0 var(--mobile-padding);
                grid-template-columns: 1fr;
            }
        }
    }
}