{% extends 'app/base.html' %}
{% load static %}
{% block seo %}
  <title>Sam Roberts</title>
{% endblock %}
{% block content %}

  {% include 'app/loader.html' %}

  {% include 'app/navigation.html' %}

  {% include 'app/sections/landing.html' %}

  {% include 'app/seperators/sep-1.html' %}

  <div style="min-height:400px;"></div>
  <div style="min-height:400px;"></div>
  <div style="min-height:400px;"></div>
  <div style="min-height:400px;"></div>
  <div style="min-height:400px;"></div>

{% endblock %}
