{% extends 'app/base.html' %}
{% load static %}
{% block seo %}
  <title>Sam Roberts</title>
{% endblock %}
{% block content %}

  {% include 'app/loader.html' %}

  {% include 'app/navigation.html' %}

  {% include 'app/sections/landing.html' %}

  {% include 'app/seperators/sep-1.html' %}

  <div id="about" style="min-height:400px;background-color:red;"></div>
  <div id="experience" style="min-height:400px;background-color:green;"></div>
  <div id="education" style="min-height:400px;background-color:blue;"></div>
  <div id="projects" style="min-height:400px;background-color:magenta;"></div>
  <div id="contact" style="min-height:400px;background-color:orange;"></div>

{% endblock %}
