{% extends 'app/base.html' %}
{% load static %}
{% block seo %}
  <title>Sam Roberts</title>
{% endblock %}
{% block content %}

  {% include 'app/loader.html' %}

  {% include 'app/navigation.html' %}

  {% include 'app/sections/landing.html' %}

  {% include 'app/seperators/sep-1.html' %}

  {% include 'app/sections/about-me.html' %}

  {% include 'app/seperators/sep-2.html' %}

  <div id="experience"></div>

  {% include 'app/seperators/sep-3.html' %}

  <div id="education"></div>

  {% include 'app/seperators/sep-4.html' %}

  <div id="projects" style="min-height:100vh;background-color:magenta;"></div>

  {% include 'app/seperators/sep-5.html' %}

  <div id="contact" style="min-height:100vh;background-color:orange;"></div>

{% endblock %}
