<nav id="navigation">
  <div class="container">
    <div class="col-12">
      <ul class="nav-items">
        <li><a class="internal-link" href="#">About Me</a></li>
        <li><a class="internal-link" href="#">Experience</a></li>
        <li><a class="internal-link" href="#">Education</a></li>
        <li><a class="internal-link" href="#">Projects</a></li>
        <li><a class="internal-link" href="#">Contact Me</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- <nav id="navigation">
  <a href="#home" class="active">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</nav> -->