nav#Navigation {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 120px);
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px 0 60px;
    z-index: 10;
    transition: width .5s ease, padding .5s ease, background .5s ease, backdrop-filter .5s ease, box-shadow .5s ease;
    &.open {
        .hamburger {
            .bar {
                &.one {
                    transform: rotate(30deg) scale(0.7, 1) translate(12px, -1px);
                }
                &.three {
                    transform: rotate(-30deg) scale(0.7, 1) translate(12px, 1px);
                }
            }
        }
        .menu {
            right: 0;
        }
    }
    &.scrolled {
        padding: 15px 60px;
        // background-color: #dedede;
        background: rgba(235, 235, 235 ,0.8);
        backdrop-filter: saturate(200%) blur(5px);
        box-shadow: 0px 3px 10px 4px rgba(235, 235, 235 ,0.8);
        .logo {
            width: 100px;
            height: 55px;
        }
    }
    .logo {
        display: block;
        position: relative;
        width: 150px;
        height: 80px;
        object-fit: contain;
        object-position: center center;
        transition: width .5s ease, height .5s ease;
    }
    .hamburger {
        display: block;
        position: relative;
        // margin: 40px 60px 0 0;
        width: 40px;
        height: 24px;
        z-index: 12;
        .bar {
            display: block;
            position: absolute;
            width: 40px;
            height: 3px;
            border-radius: 10px;
            background-color: var(--oxford-blue);
            left: 0;
            transition: transform .2s ease-in-out;
            &.one {
                top: 0;
            }
            &.two {
                top: 10px;
            }
            &.three {
                top: 20px;
            }
        }
    }
    .menu {
        display: flex;
        position: absolute;
        top: 0;
        right: -600px;
        width: auto;
        height: calc(100dvh - 200px);
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
        padding: 100px 240px 100px 85px;
        background-color: #FFFFFF;
        box-shadow: 0px 0px 14px 6px #dedede;
        transition: right .7s ease-in-out;
        h6 {
            margin: 0 0 .5rem 0;
        }
        .items {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 35px;
            h4 {
                margin: 0;
            }
        }
    }
    @media screen and (max-width: 768px) {
        padding: 15px 20px;
        width: calc(100% - 40px);
        &.scrolled {
            padding: 15px 20px;
        }
        .logo {
            width: 100px;
            height: 55px;
        }
        .menu {
            max-width: calc(100vw - 325px);
        }
    }
}