div.Project {
    display: flex;
    position: relative;
    flex-direction: column;
    .image-wrapper {
        display: block;
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        aspect-ratio: 1/1;
        border-radius: 24px;
        img.project-image {
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
            object-position: center center;
        }
    }
    h5 {
        margin: 0 0 5px 0;
    }
    h4 {
        margin: 20px 0 10px 0;
    }
    p {
        margin: 0;
    }
}
