// These need to go first as the rest of the stylesheets will pull from these.
@import "./base/reset";
@import "./base/colours";
@import "./base/typography";
@import "./base/variables";

// These are the section stylesheets
@import "./sections/landing";

// These are the component stylesheets
@import "./components/navigation";
@import "./components/seperators";
@import "./components/loader";

// Style that every page will need
body {
  padding: 0;
  margin: 0;
  min-width: 600px;
}
