div.seperator-wrapper {
  width: 100%;
  min-height: 450px;
  border-top: 6px solid $navy;
  border-bottom: 6px solid $navy;
  /* Create the parallax scrolling effect */
  background-image: url('https://photos.smugmug.com/Portfolio/i-b3QZW27/0/41629f85/4K/Deep%20in%20the%20Guangxi%20Province%20of%20China-4K.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
